body {
	text-align: center;
	font-family: "Happy Monkey", cursive;
	background: linear-gradient(lightblue, pink);
	color: #ffffff;
}

#img {
	width: 220px;
	height: 200px;
	border-radius: 100%;
	border: 6px solid pink;
}

#bday-age {
	background: #efb0c9;
	border-radius: 5px;
	padding: 6px;
}

#bday-data {
	background: #efb0c9;
	margin-top: 5px;
	padding: 5px 10px;
	border-radius: 4px;
}

h1,
h2,
h4,
h3,
p {
	text-shadow: 1px 0 1px black;
}
#header {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gift-section {
	margin-top: 50px;
}
.gift-img {
	width: 400px;
	border: 5px solid #ffffff;
	border-radius: 10px;
	background-image: url("images/gift-cover.jpg");
	height: 400px;
	background-size: cover;
	margin: 0 auto 0;
}
.gift-hint {
	margin-top: 0;
}
.gift-title {
	margin-bottom: 10px;
}
#gift-happy:hover {
	background-image: url(images/happy.gif);
}
#gift-hot:hover {
	background-image: url("images/hot.gif");
}
#test-pic:hover {
	background-image: url("images/badass.gif");
}
#gift-img-cheers {
	height: 200px;
}

#gift-img-cheers:hover {
	background-image: url("images/cheers.gif");
}

#footer {
	width: 400px;
	margin: 40px auto 20px;
	font-style: italic;
}
a {
	color: white;
}
